html {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 10px;
  background-color: #ccc;
}

::-webkit-scrollbar-track {
  background: #eee;
}

.rotateIcon {
  animation: rotateIcon 2s ease-in-out 0s infinite forwards alternate;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media print {
  .MuiDataGrid-main {
    height: auto !important;
    overflow: visible !important;
  }

  .MuiDataGrid-virtualScroller {
    overflow: visible !important;
    height: auto !important;
  }
}
